* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(14, 20, 25, 0);
    color: #e5e1cf;
}

#workspaces button {
    padding: 5px;
    color: #323232;
    margin-right: 5px;
}

#workspaces button.active {
    color: #68d4ff;
}

#workspaces button.focused {
    color: #e5e1cf;
    background: #ffa3aa;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #0e1419;
    background: #b8cc52;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #68d4ff;
    color: #0e1419;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
    background: #0b1014;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #323232; */
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #0b1014;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #68d4ff;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #68d4ff;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: #68d4ff;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #68d4ff;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#bluetooth {
    color: #68d4ff;
    border-radius: 10px;
    margin-right: 5px;
}

#battery {
    color: #68d4ff;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
